body {
    font-family: 'Rubik', sans-serif;
    padding: 0%;
    margin: 0%;
}

.btn {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
}

.custom-btn {
    background-color: #4BA87D;
    color: white;

    border: none;
}



nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;

}

.menu-bar li,
.menu-bar button {
    border-bottom: 3px solid #4BA87D;
    font-weight: 700;
    margin: 50px;
    padding: 10px;
}


.services-section {
    padding: 100px 20%;
    background-color: #CAEAC7;


}

.banner-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px 10%;
}

.blank-button {
    border: 2px solid #4BA87D;
    color: #4BA87D;
    background-color: white;
}

.banner-text {
    display: flex;

    align-items: center;

}

.try-now-btn {
    margin-right: 15px;
    border: 2px solid #4BA87D;
}

.black-heading {
    font-size: 60px;
    margin: 10px;
    font-weight: 900;
}

.banner-img {
    display: flex;
    align-items: center;
}

.reach-section {
    background-color: #e6e0e0;
    padding: 100px 15%;

}

.reach-content {
    height: 600px;
    background-image: url(images/image6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;


}

.reach-content h1 {
    color: white;
    font-size: 60px;
    font-weight: 900;
}

.text-center {
    text-align: center;
}

.services {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 70px;
}

.service {
    box-shadow: 5px 5px 30px gray;
    background-color: rgb(255, 255, 255);
}


.service img {
    width: 100%;
    height: 320px;
}

.service-text {
    padding: 20px;
}

.learn-text {
    color: #0f9b0b;
    font-size: 18px;
    font-weight: 400;
}