body {
    font-family: 'Rubik', sans-serif;
}

.btn {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
}

.custom-btn {
    background-color: #4BA87D;
    color: white;

    border: none;
}



nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;

}

.menu-bar li,
.menu-bar button {
    border-bottom: 3px solid #4BA87D;
    font-weight: 700;
    margin: 50px;
    padding: 10px;
}

.banner-section {
    margin: 50px 10%;

    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}


.blank-button {
    border: 2px solid #4BA87D;
    color: #4BA87D;
    background-color: white;
}

.banner-text {
    display: flex;
    justify-content: center;
    align-items: center;

}

.try-now-btn {
    margin-right: 15px;
    border: 2px solid #4BA87D;
}

.banner-text h1 {
    font-size: 60px;
    margin: 10px;
    font-weight: 900;
}

.banner-img {
    display: flex;
    align-items: center;
}