body {
    font-family: 'Rubik', sans-serif;
    padding: 0%;
    margin: 0%;
}

.btn {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
}

.custom-btn {
    background-color: #4BA87D;
    color: white;

    border: none;
}



nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;

}

.hamburger {
    display: none;
    margin-right: 5%;
}

.menu-bar li,
.menu-bar button {
    border-bottom: 3px solid #4BA87D;
    font-weight: 700;
    margin: 50px;
    padding: 10px;
}


.services-section,
.customer-section {
    padding: 100px 20%;


}

.services-section {
    background-color: #CAEAC7;
}

.banner-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px 10%;
}

.blank-button {
    border: 2px solid #4BA87D;
    color: #4BA87D;
    background-color: white;
}

.banner-text {
    display: flex;

    align-items: center;

}

.try-now-btn {
    margin-right: 15px;
    border: 2px solid #4BA87D;
}

.black-heading {
    font-size: 60px;
    margin: 10px;
    font-weight: 900;
}

.banner-img {
    display: flex;
    align-items: center;
}

.reach-section {
    background-color: #e6e0e0;
    padding: 100px 15%;

}

.reach-content {
    height: 600px;
    background-image: url(images/image6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;


}

.reach-content h1 {
    color: white;
    font-size: 60px;
    font-weight: 900;
}

.text-center {
    text-align: center;
}

.services,
.customers {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 70px;
}

.service {
    box-shadow: 5px 5px 30px gray;
    background-color: rgb(255, 255, 255);
}


.service img {
    width: 100%;
    height: 320px;
}

.service-text {
    padding: 20px;
}

.learn-text {
    color: #0f9b0b;
    font-size: 18px;
    font-weight: 400;
}

.customer {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    align-items: flex-end;
}

.customer-section {
    background-color: rgb(188, 219, 231);
}

.customer h1 {
    font-size: 35px;
    margin: 0px;
}

.customer h4 {
    margin: 3px;
}

.customer-one {
    background-image: url(images/ashiq.jpg);
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.5)), url(images/ashiq.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.customer-two {
    background-image: url(images/sihad.jpg);
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.5)), url(images/sihad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.customer-three {
    background-image: url(images/jabir.jpg);
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.5)), url(images/jabir.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-header {
    font-size: 45px;
    font-weight: 900;
}

.contact-form {
    display: flex;
    justify-content: center;
}

.contact-form input {
    padding: 15px;
    width: 300px;
    border-radius: 5px;
    box-shadow: none;
    border: 2px solid lightgray;
    margin-right: 20px;
}

.contact-section {
    margin: 50px 0px 100px 0px;
}

.get-started {
    background-color: #4BA87D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    text-align: center;


}

.get-started h1 {
    color: white;
    font-weight: 900;
    font-size: 50px;
}

footer {
    font-size: 30px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

@media(max-width:1000px) {
    .menu-bar {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .banner-section {
        grid-template-columns: repeat(1, 1fr);
    }

    .banner-img {
        margin-top: 50px;
    }

    .banner-img img {
        width: 70%;
    }

    .services,
    .customers {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width) {
    .banner-img img {
        width: 100%;
    }

    .black-heading {
        font-size: 45px;
    }
}

@media(max-width:400px) {
    .try-now-btn {
        margin-bottom: 20px;
    }
}